In [208]:
# import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

# import database
df = pd.read_csv('User_Datetime_Analysis.csv')
df

,Name,Email,Signup_Date,Last_Login,Birthdate,Country,Days_Since_Signup,Days_Since_Last_Login,Formatted_Signup,Formatted_Login,Signup_Month,Age
0,Norma Fisher,ruizphillip@hoover.com,2023-06-30,2025-05-01 08:57:10,1980-09-23,Sri Lanka,685,14,30 Jun 2023,"Thursday, 01 May 2025 08:57",2023-06,45
1,Jorge Sullivan,mdavis@murphy.com,2023-07-10,2025-05-04 16:27:39,1981-05-19,Djibouti,675,10,10 Jul 2023,"Sunday, 04 May 2025 16:27",2023-07,44
2,Elizabeth Woods,stephaniesmith@smith.com,2024-11-18,2025-05-03 13:00:02,2004-09-15,Chad,178,12,18 Nov 2024,"Saturday, 03 May 2025 13:00",2024-11,21
3,Susan Wagner,agonzalez@mosley.com,2024-12-02,2025-04-21 08:41:09,1979-10-19,Algeria,164,24,02 Dec 2024,"Monday, 21 April 2025 08:41",2024-12,46
4,Peter Montgomery,sarahreyes@graham.com,2025-04-06,2025-05-11 14:18:58,1966-09-22,Montenegro,39,4,06 Apr 2025,"Sunday, 11 May 2025 14:18",2025-04,59
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Tyler Porter,gmcdowell@yahoo.com,2023-12-13,2025-05-11 19:37:24,2005-09-07,French Guiana,519,3,13 Dec 2023,"Sunday, 11 May 2025 19:37",2023-12,20
496,James Price,watsonraymond@ochoa.net,2024-08-17,2025-04-26 14:47:47,2005-10-15,Lebanon,271,19,17 Aug 2024,"Saturday, 26 April 2025 14:47",2024-08,20
497,Veronica Bray,sarah95@goodwin.com,2024-12-15,2025-04-18 00:31:15,1999-01-07,Angola,151,27,15 Dec 2024,"Friday, 18 April 2025 00:31",2024-12,26
498,Lisa Lowe,lauramurphy@moss.com,2022-10-31,2025-05-07 10:34:37,2002-08-24,Dominican Republic,927,8,31 Oct 2022,"Wednesday, 07 May 2025 10:34",2022-10,23
499,Katelyn Edwards,steven16@gmail.com,2025-01-12,2025-05-13 03:04:55,1965-03-17,Sri Lanka,123,2,12 Jan 2025,"Tuesday, 13 May 2025 03:04",2025-01,60

In [210]:
# to show current time
current_time = datetime.now() #timestamp date
print(current_time)

2025-05-15 19:46:41.007838

In [212]:
df['Signup_Date']

0      2023-06-30
1      2023-07-10
2      2024-11-18
3      2024-12-02
4      2025-04-06
          ...
495    2023-12-13
496    2024-08-17
497    2024-12-15
498    2022-10-31
499    2025-01-12
Name: Signup_Date, Length: 500, dtype: object

In [214]:
# To show the data in datetime format it needs to be converted from an object to datetime via assingment
df['Signup_Date'] = pd.to_datetime(df['Signup_Date'])

In [216]:
df['Signup_Date']

0     2023-06-30
1     2023-07-10
2     2024-11-18
3     2024-12-02
4     2025-04-06
         ...
495   2023-12-13
496   2024-08-17
497   2024-12-15
498   2022-10-31
499   2025-01-12
Name: Signup_Date, Length: 500, dtype: datetime64[ns]

In [218]:
df['Last_Login']

0      2025-05-01 08:57:10
1      2025-05-04 16:27:39
2      2025-05-03 13:00:02
3      2025-04-21 08:41:09
4      2025-05-11 14:18:58
              ...
495    2025-05-11 19:37:24
496    2025-04-26 14:47:47
497    2025-04-18 00:31:15
498    2025-05-07 10:34:37
499    2025-05-13 03:04:55
Name: Last_Login, Length: 500, dtype: object

In [220]:
df['Last_Login'] = pd.to_datetime(df['Last_Login'])
df['Last_Login']

0     2025-05-01 08:57:10
1     2025-05-04 16:27:39
2     2025-05-03 13:00:02
3     2025-04-21 08:41:09
4     2025-05-11 14:18:58
              ...
495   2025-05-11 19:37:24
496   2025-04-26 14:47:47
497   2025-04-18 00:31:15
498   2025-05-07 10:34:37
499   2025-05-13 03:04:55
Name: Last_Login, Length: 500, dtype: datetime64[ns]

In [222]:
# workout sign up date (month)

df['Signup_Month'] = df['Signup_Date'].dt.month
df['Signup_Month']

0       6
1       7
2      11
3      12
4       4
       ..
495    12
496     8
497    12
498    10
499     1
Name: Signup_Month, Length: 500, dtype: int32

In [225]:
# workout differences in dates (days since last login)
df['Days_Since_Last_Login'] = (pd.Timestamp.now() - df['Last_Login']).dt.days
df['Days_Since_Last_Login']

0      14
1      11
2      12
3      24
4       4
       ..
495     4
496    19
497    27
498     8
499     2
Name: Days_Since_Last_Login, Length: 500, dtype: int64

In [227]:
# workout sign up date (month name)

df['Signup_Month_Name'] = df['Signup_Date'].dt.month_name()
df['Signup_Month_Name']

0          June
1          July
2      November
3      December
4         April
         ...
495    December
496      August
497    December
498     October
499     January
Name: Signup_Month_Name, Length: 500, dtype: object

In [229]:
# workout sign up date (day name)

df['Signup_Day_Name'] = df['Signup_Date'].dt.day_name()
df['Signup_Day_Name']

0         Friday
1         Monday
2         Monday
3         Monday
4         Sunday
         ...
495    Wednesday
496     Saturday
497       Sunday
498       Monday
499       Sunday
Name: Signup_Day_Name, Length: 500, dtype: object

In [231]:
# workout oldest date entry in a column (oldest person in database)

oldest = df.sort_values('Birthdate').head(1)
oldest

,Name,Email,Signup_Date,Last_Login,Birthdate,Country,Days_Since_Signup,Days_Since_Last_Login,Formatted_Signup,Formatted_Login,Signup_Month,Age,Signup_Month_Name,Signup_Day_Name
407,Dr. Michael Williams,melissa54@hall.org,2022-06-19,2025-05-14 23:57:30,1964-05-16,Vanuatu,1061,0,19 Jun 2022,"Wednesday, 14 May 2025 23:57",6,61,June,Sunday

In [233]:
# workout youngest date entry in a column (youngest person in database)
# head() shows first, tail() shows last

youngest = df.sort_values('Birthdate').tail(1)
youngest

,Name,Email,Signup_Date,Last_Login,Birthdate,Country,Days_Since_Signup,Days_Since_Last_Login,Formatted_Signup,Formatted_Login,Signup_Month,Age,Signup_Month_Name,Signup_Day_Name
309,Nicolas Sullivan,annramos@hotmail.com,2023-09-21,2025-04-20 14:36:38,2007-03-08,Uruguay,602,25,21 Sep 2023,"Sunday, 20 April 2025 14:36",9,18,September,Thursday

In [235]:
# convert to datetime for hours minutes and seconds

df['Last_Login'] = pd.to_datetime(df['Last_Login'], format = '%A, %d %B %Y %H:%M')
# time_now = datetime.striptime('2025-05-15 19:11:09.021056', '%Y-%m-%d %H %m %s')

In [237]:
df['Last_Login']

0     2025-05-01 08:57:10
1     2025-05-04 16:27:39
2     2025-05-03 13:00:02
3     2025-04-21 08:41:09
4     2025-05-11 14:18:58
              ...
495   2025-05-11 19:37:24
496   2025-04-26 14:47:47
497   2025-04-18 00:31:15
498   2025-05-07 10:34:37
499   2025-05-13 03:04:55
Name: Last_Login, Length: 500, dtype: datetime64[ns]

In [239]:
df['Hour'] = df['Last_Login'].dt.hour
df['Hour']

0       8
1      16
2      13
3       8
4      14
       ..
495    19
496    14
497     0
498    10
499     3
Name: Hour, Length: 500, dtype: int32

In [241]:
df['Minute'] = df['Last_Login'].dt.minute
df['Minute']

0      57
1      27
2       0
3      41
4      18
       ..
495    37
496    47
497    31
498    34
499     4
Name: Minute, Length: 500, dtype: int32

In [243]:
df['Second'] = df['Last_Login'].dt.second
df['Second']

0      10
1      39
2       2
3       9
4      58
       ..
495    24
496    47
497    15
498    37
499    55
Name: Second, Length: 500, dtype: int32

In [245]:
# Filtering
# workout inactivity within the last 20 days
twenty_day_inactivity = df[df['Days_Since_Last_Login'] > 20]
twenty_day_inactivity

,Name,Email,Signup_Date,Last_Login,Birthdate,Country,Days_Since_Signup,Days_Since_Last_Login,Formatted_Signup,Formatted_Login,Signup_Month,Age,Signup_Month_Name,Signup_Day_Name,Hour,Minute,Second
3,Susan Wagner,agonzalez@mosley.com,2024-12-02,2025-04-21 08:41:09,1979-10-19,Algeria,164,24,02 Dec 2024,"Monday, 21 April 2025 08:41",12,46,December,Monday,8,41,9
5,Theodore Mcgrath,aguilarjane@yahoo.com,2022-11-02,2025-04-22 16:32:26,1983-08-31,Kazakhstan,925,23,02 Nov 2022,"Tuesday, 22 April 2025 16:32",11,42,November,Wednesday,16,32,26
14,Dana Nguyen,jgreene@hotmail.com,2022-08-20,2025-04-22 20:55:17,1995-06-19,United States Minor Outlying Islands,999,22,20 Aug 2022,"Tuesday, 22 April 2025 20:55",8,30,August,Saturday,20,55,17
15,Cheryl Bradley,kevinholmes@martinez.com,2024-02-08,2025-04-22 06:09:28,1973-02-19,Tanzania,462,23,08 Feb 2024,"Tuesday, 22 April 2025 06:09",2,52,February,Thursday,6,9,28
16,Walter Pratt,mmyers@crawford-jackson.com,2023-08-10,2025-04-19 07:33:29,1992-08-04,Madagascar,644,26,10 Aug 2023,"Saturday, 19 April 2025 07:33",8,33,August,Thursday,7,33,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Grace Davis,pharvey@yahoo.com,2023-04-19,2025-04-20 05:33:33,1968-11-29,Iran,757,25,19 Apr 2023,"Sunday, 20 April 2025 05:33",4,57,April,Wednesday,5,33,33
482,Darrell Roberson,cford@thomas.com,2022-06-29,2025-04-20 00:59:04,2000-06-30,Mongolia,1051,25,29 Jun 2022,"Sunday, 20 April 2025 00:59",6,25,June,Wednesday,0,59,4
487,Timothy Newton,ptownsend@williams.info,2023-08-08,2025-04-18 12:25:11,1974-05-13,Mexico,646,27,08 Aug 2023,"Friday, 18 April 2025 12:25",8,51,August,Tuesday,12,25,11
494,Gregory Sanchez,ericgomez@gmail.com,2024-09-30,2025-04-21 19:06:46,1977-05-05,Czech Republic,227,24,30 Sep 2024,"Monday, 21 April 2025 19:06",9,48,September,Monday,19,6,46
497,Veronica Bray,sarah95@goodwin.com,2024-12-15,2025-04-18 00:31:15,1999-01-07,Angola,151,27,15 Dec 2024,"Friday, 18 April 2025 00:31",12,26,December,Sunday,0,31,15

In [247]:
df['Signup_Month_Name'] = df['Signup_Date'].dt.month_name()
df['Signup_Month_Name']

0          June
1          July
2      November
3      December
4         April
         ...
495    December
496      August
497    December
498     October
499     January
Name: Signup_Month_Name, Length: 500, dtype: object

In [249]:
sign_up_nov = df[df['Signup_Month_Name'] == 'November']
sign_up_nov

,Name,Email,Signup_Date,Last_Login,Birthdate,Country,Days_Since_Signup,Days_Since_Last_Login,Formatted_Signup,Formatted_Login,Signup_Month,Age,Signup_Month_Name,Signup_Day_Name,Hour,Minute,Second
2,Elizabeth Woods,stephaniesmith@smith.com,2024-11-18,2025-05-03 13:00:02,2004-09-15,Chad,178,12,18 Nov 2024,"Saturday, 03 May 2025 13:00",11,21,November,Monday,13,0,2
5,Theodore Mcgrath,aguilarjane@yahoo.com,2022-11-02,2025-04-22 16:32:26,1983-08-31,Kazakhstan,925,23,02 Nov 2022,"Tuesday, 22 April 2025 16:32",11,42,November,Wednesday,16,32,26
8,Brian Hamilton,hromero@garcia.info,2022-11-14,2025-05-14 02:01:00,1987-04-18,French Guiana,913,1,14 Nov 2022,"Wednesday, 14 May 2025 02:01",11,38,November,Monday,2,1,0
10,Sean Green,gmiller@yahoo.com,2023-11-28,2025-05-11 04:40:35,1987-11-19,Nauru,534,4,28 Nov 2023,"Sunday, 11 May 2025 04:40",11,38,November,Tuesday,4,40,35
17,Bobby Flores,jenniferwhite@hotmail.com,2023-11-28,2025-04-23 01:35:47,1975-02-16,Nepal,534,22,28 Nov 2023,"Wednesday, 23 April 2025 01:35",11,50,November,Tuesday,1,35,47
27,Kimberly Myers,xjensen@miller-johnson.com,2023-11-05,2025-04-20 17:57:16,1973-03-17,Cape Verde,557,25,05 Nov 2023,"Sunday, 20 April 2025 17:57",11,52,November,Sunday,17,57,16
43,Taylor Johnson,john64@johnson.com,2023-11-21,2025-04-19 12:28:22,1998-08-14,Turks and Caicos Islands,541,26,21 Nov 2023,"Saturday, 19 April 2025 12:28",11,27,November,Tuesday,12,28,22
46,Jonathan Williams,berickson@yahoo.com,2024-11-20,2025-05-11 10:35:45,1978-03-19,Micronesia,176,4,20 Nov 2024,"Sunday, 11 May 2025 10:35",11,47,November,Wednesday,10,35,45
54,Emily Howard,paulfox@gmail.com,2023-11-12,2025-04-29 13:06:24,1985-06-18,Mauritius,550,16,12 Nov 2023,"Tuesday, 29 April 2025 13:06",11,40,November,Sunday,13,6,24
98,Nicholas Kline,aavila@gmail.com,2023-11-21,2025-05-14 19:52:44,1984-06-11,Fiji,541,0,21 Nov 2023,"Wednesday, 14 May 2025 19:52",11,41,November,Tuesday,19,52,44
116,Victor Nolan,kenneth29@taylor.com,2023-11-13,2025-04-24 11:08:11,1993-10-19,Spain,549,21,13 Nov 2023,"Thursday, 24 April 2025 11:08",11,32,November,Monday,11,8,11
118,Richard Kirby,rachelbeck@gonzalez.com,2022-11-20,2025-05-08 19:16:13,1994-12-02,Iran,907,7,20 Nov 2022,"Thursday, 08 May 2025 19:16",11,31,November,Sunday,19,16,13
123,Charles Douglas,elizabeth73@hotmail.com,2023-11-21,2025-04-16 06:42:20,1981-10-04,Macao,541,29,21 Nov 2023,"Wednesday, 16 April 2025 06:42",11,44,November,Tuesday,6,42,20
127,Susan Harris,qthomas@herrera.com,2022-11-20,2025-05-07 06:55:21,1997-02-21,Kuwait,907,8,20 Nov 2022,"Wednesday, 07 May 2025 06:55",11,28,November,Sunday,6,55,21
129,Dr. James Willis,marissa66@martinez.com,2023-11-29,2025-05-07 19:35:10,1967-07-28,Nepal,533,8,29 Nov 2023,"Wednesday, 07 May 2025 19:35",11,58,November,Wednesday,19,35,10
149,Rachel Lopez,carlosramirez@dean-ray.com,2024-11-29,2025-04-25 21:42:04,1986-11-16,Iraq,167,19,29 Nov 2024,"Friday, 25 April 2025 21:42",11,39,November,Friday,21,42,4
151,Richard Jones,marvin66@terrell.com,2023-11-19,2025-04-21 12:21:04,1981-04-18,Burundi,543,24,19 Nov 2023,"Monday, 21 April 2025 12:21",11,44,November,Sunday,12,21,4
162,Angela Jones,michaelle@alexander-mcdaniel.com,2023-11-01,2025-05-10 12:55:31,1983-08-04,Afghanistan,561,5,01 Nov 2023,"Saturday, 10 May 2025 12:55",11,42,November,Wednesday,12,55,31
193,Kimberly Moore,timothyhuang@guerrero.com,2022-11-28,2025-05-01 14:35:47,1967-06-17,Western Sahara,899,14,28 Nov 2022,"Thursday, 01 May 2025 14:35",11,58,November,Monday,14,35,47
206,Jennifer Osborne,restrada@yahoo.com,2024-11-24,2025-04-20 09:32:30,1990-07-09,Israel,172,25,24 Nov 2024,"Sunday, 20 April 2025 09:32",11,35,November,Sunday,9,32,30
248,Andrea Murray,jasminebrown@gmail.com,2024-11-12,2025-05-04 14:25:20,2006-06-04,Yemen,184,11,12 Nov 2024,"Sunday, 04 May 2025 14:25",11,19,November,Tuesday,14,25,20
282,Samantha Floyd,robertjohnson@gmail.com,2023-11-21,2025-05-06 15:34:02,2003-02-21,Morocco,541,9,21 Nov 2023,"Tuesday, 06 May 2025 15:34",11,22,November,Tuesday,15,34,2
285,Nicholas Barrett,davisdaniel@fritz-robbins.com,2023-11-18,2025-04-22 02:03:37,1984-12-07,Bermuda,544,23,18 Nov 2023,"Tuesday, 22 April 2025 02:03",11,41,November,Saturday,2,3,37
300,Ryan Hoover,bhall@marshall.org,2024-11-11,2025-04-25 08:56:43,1969-11-12,Chad,185,20,11 Nov 2024,"Friday, 25 April 2025 08:56",11,56,November,Monday,8,56,43
310,Johnathan Long,schneideralicia@gmail.com,2022-11-11,2025-05-03 05:13:27,1965-07-21,Faroe Islands,916,12,11 Nov 2022,"Saturday, 03 May 2025 05:13",11,60,November,Friday,5,13,27
356,John Gallegos,michael55@reyes.com,2023-11-09,2025-05-07 06:45:19,2004-03-30,Nigeria,553,8,09 Nov 2023,"Wednesday, 07 May 2025 06:45",11,21,November,Thursday,6,45,19
361,Amanda Hebert,jameslaura@hancock.com,2024-11-23,2025-04-15 23:14:28,1968-09-11,Palestinian Territory,173,29,23 Nov 2024,"Tuesday, 15 April 2025 23:14",11,57,November,Saturday,23,14,28
393,Cheryl Hughes,hannah61@nelson-hernandez.com,2022-11-04,2025-04-29 16:30:48,1993-05-11,Oman,923,16,04 Nov 2022,"Tuesday, 29 April 2025 16:30",11,32,November,Friday,16,30,48
394,Caleb Bell,frankclark@hotmail.com,2023-11-04,2025-05-15 07:41:55,1977-04-08,Trinidad and Tobago,558,0,04 Nov 2023,"Thursday, 15 May 2025 07:41",11,48,November,Saturday,7,41,55
403,James Moore,nicolehudson@hotmail.com,2023-11-11,2025-05-04 19:07:35,1995-04-01,Lebanon,551,11,11 Nov 2023,"Sunday, 04 May 2025 19:07",11,30,November,Saturday,19,7,35
406,Lori Dougherty,nespinoza@hotmail.com,2023-11-16,2025-04-28 15:11:16,1976-07-03,Mongolia,546,17,16 Nov 2023,"Monday, 28 April 2025 15:11",11,49,November,Thursday,15,11,16
408,Douglas Jackson,ryan10@murphy.org,2024-11-19,2025-05-12 00:35:23,1970-10-02,Georgia,177,3,19 Nov 2024,"Monday, 12 May 2025 00:35",11,55,November,Tuesday,0,35,23
424,David Williams,timothyjacobs@ross-williams.net,2022-11-09,2025-04-26 12:02:38,1972-06-10,Angola,918,19,09 Nov 2022,"Saturday, 26 April 2025 12:02",11,53,November,Wednesday,12,2,38
427,Alyssa Fisher,fbrennan@scott-burnett.net,2022-11-14,2025-04-30 00:54:23,1983-10-02,Christmas Island,913,15,14 Nov 2022,"Wednesday, 30 April 2025 00:54",11,42,November,Monday,0,54,23
438,Carol Jordan,solomonaustin@hotmail.com,2024-11-13,2025-05-13 14:33:18,1973-01-22,Chad,183,2,13 Nov 2024,"Tuesday, 13 May 2025 14:33",11,52,November,Wednesday,14,33,18
440,Paula Gardner,adamschristine@taylor.com,2024-11-28,2025-05-13 01:32:09,1966-08-02,Portugal,168,2,28 Nov 2024,"Tuesday, 13 May 2025 01:32",11,59,November,Thursday,1,32,9
460,John Rowe,josephpalmer@hotmail.com,2023-11-02,2025-05-07 00:39:01,1964-09-02,Brazil,560,8,02 Nov 2023,"Wednesday, 07 May 2025 00:39",11,61,November,Thursday,0,39,1
484,Katrina Peterson,thompsonadam@hotmail.com,2023-11-08,2025-04-29 23:15:23,1971-12-06,French Southern Territories,554,15,08 Nov 2023,"Tuesday, 29 April 2025 23:15",11,54,November,Wednesday,23,15,23

In [251]:
# save to csv
twenty_day_inactivity.to_csv('twenty_day_inactivity.csv', index = False)